html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
margin: 0;
padding: 0;
}

ul, ol {
margin: 0;
padding: 0;
}

a {
color: inherit;
text-decoration: none;
}

img {
  max-width: 100%;
}


/*fonts*/

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-light'),
    url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular'),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium'),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold'),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold'),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-ExtraBold'),
    url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular'),
    url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Medium'),
    url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*root*/

:root {
  --text-color: #FFFFFF;
  --dark-accent-color: #DC7000;
  --light--accent-color: #FA9021;

}




/*globe*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: linear-gradient( #000000, #4A2800 );
  background-size: 50%;
  background-repeat: repeat;
}

/* .gardient-container {
  background: linear-gradient( #000000, #4A2800 );
} */


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 147px;
}


/*header*/

.header {
  padding-top: 38px;
  padding-bottom: 60px;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1320px;
  margin: 0 auto;
}

.header__logo {
 margin-right: auto;
}

.header__nav {
  margin-right: 36px;
}

.header__nav-list {
  gap: 88px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
}

.header__button {
  font-size: 13px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  width: 132px;
  height: 41px;
  background-color: var(--light--accent-color);
  border-radius: 6px;
}


/*hero*/

.hero {
  padding-top: 60px;
  padding-bottom: 89px;
}


.hero__container {
  position: relative;
}

.hero__text {
  max-width: 527px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 155%;
  color: var(--dark-accent-color);
}

.hero__subtitle {
  margin-bottom: 26px;
  font-size: 50px;
  font-weight: 700;
  line-height: 155%;
  color: var(--text-color);
}

.hero__descr {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: var(--text-color);
}

.hero__button {
  width: 195px;
  height: 53px;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  color: var(--text-color);
  background-color: var(--light--accent-color);
  border-radius: 40px;
}



.unity__icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cry__icon {
  position: absolute;
  top: 0;
  left: 64%;
  transform: translateX(-50%)
}

.unreal__icon {
  position: absolute;
  top: 15px;
  right: 66px;
}


/*trends*/

.trends {
  padding-top: 89px;
  padding-bottom: 65px;
}

.trends__header {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
}

.trends__title {
  font-family: 'Rubik', sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 188%;
  color: var(--text-color);
}

.trends__button {
  width: 139px;
  height: 57px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.11);
  border-radius: 10px;

}

.trends__list {
  gap: 46px;
}

.trends__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trends__img {
  margin-bottom: 25px;
}

.trends__image {
  /* border-radius: 20px; */
}

.trends__text {
  padding-left: 34px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 188%;
  color: var(--text-color);
  background-image: url(../img/home/trends/fire.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


/*bestseller*/

.bestseller {
  padding-top: 65px;
  padding-bottom: 78px;
}

.besttseller__title {
  margin: 0 auto;
  margin-bottom: 67px;
  max-width: 750px;
  font-size: 35px;
  font-weight: 600;
  line-height: 188%;
  text-align: center;
  color: var(--text-color);
}

.bestseller__descr {
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 545px;
}

.bestseller__name {
  font-size: 30px;
  font-weight: 600;
  line-height: 188%;
  color: var(--text-color);
}

.bestseller__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  color: var(--text-color);
}

.bestseller__img {
  position: relative;
}

.bestseller__img::before {
  position: absolute;
  content: " ";
  background-image: url(../img/home/bestseller/dots.png);
  width: 196px;
  height: 154px;
  top: -67px;
  right: 125px;
  z-index: -1;
}

.bestseller__image {
  border-radius: 5px;
}

/*offers*/

.offers {
  padding-top: 93px;
  padding-bottom: 92px;
  background-image: url(../img/home/offers/offers-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  /* background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(0, 0, 0, 0.54); */
  backdrop-filter: blur(2px);
}

.offers:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.65);
  z-index: -10;
}

.offers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.offers__header {
  margin-bottom: 99px;
  max-width: 826px;
}

.offers__title {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 188%;
  color: var(--text-color);
}

.offers__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  color: var(--text-color);
}

.offers__list {
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__img {
  font-size: 0;
  margin-bottom: 30px;
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  align-content: center;
}

.offers__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
}

.offer__link {
  transition: transform 0.23s ease-in-out;
}

.offer__link:hover  {
  transform: translateX(5px);
  transition: transform 0.2s ease-in-out;
}

/*projects*/

.projects {
  padding-top: 148px;
  padding-bottom: 52px;
}

.projects__container {
  display: flex;
  flex-direction: column;
align-items: center;
}

.projects__header {
  margin-bottom: 71px;
}
.projects__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 188%;
  color: var(--text-color);
}

.project__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  color: var(--text-color);
}

.projects__list {
  margin-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 223px) ;
  column-gap: 26px;
  row-gap: 33px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item2 {
  grid-column-start:5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item5 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item6 {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}

.projects__image {
  width: 100%;
  height: 100%;
}

.projects__button {
  width: 139px;
  height: 57px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.11);
  border-radius: 10px;
}
