html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
margin: 0;
padding: 0;
}

ul, ol {
margin: 0;
padding: 0;
}

a {
color: inherit;
text-decoration: none;
}

img {
  max-width: 100%;
}


/*fonts*/

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-light'),
    url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular'),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium'),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold'),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold'),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-ExtraBold'),
    url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular'),
    url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Medium'),
    url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*root*/

:root {
  --text-color: #FFFFFF;
  --dark-accent-color: #DC7000;
  --light--accent-color: #FA9021;
  --letter-spacing: 0.7px;

}




/*globe*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: linear-gradient( #000000, #4A2800 );
  background-size: 50%;
  background-repeat: repeat;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.section__header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 188%;
  color: var(--text-color);
}

.section__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  color: var(--text-color);
}


/*header*/

.header {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
}

.header__container {
  display: flex;
  align-items: center;
  width: 1320px;
  margin: 0 auto;
}

.header__logo {
  font-size: 29px;
  font-weight: 900;
  line-height: 188%;
  color: var(--text-color);
  text-transform: uppercase;
  margin-right: auto;
}


.header__nav {
  margin-right: 36px;
}

.header__nav-list {
  gap: 88px;
}

.header__nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

.header__nav-link::after {
  position: absolute;
  content: "";
  left: -18px;
  bottom: -10px;
  width: 0;
  height: 4px;
  background-image: url(../img/home/header/underline.png);
  background-repeat: no-repeat;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover::after {
  width: 39px;
  transition: width 0.3s ease-in-out;
}


.header__button {
  font-size: 13px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  width: 132px;
  height: 41px;
  background-color: var(--light--accent-color);
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.header__button:hover {
  background-color: var(--dark-accent-color);
  transition: background-color 0.3s ease-in-out;
}


/*hero*/

.hero {
  padding-top: 204px;
  padding-bottom: 89px;
  background-image: url(../img/home/hero/joy_stick.png);
  background-repeat: no-repeat;
  background-position:  top 0 right 24.5%;
}


.hero__container {
  position: relative;
}

.hero__text {
  max-width: 527px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 155%;
  color: var(--dark-accent-color);
}

.hero__subtitle {
  margin-bottom: 26px;
  font-size: 50px;
  font-weight: 700;
  line-height: 155%;
  color: var(--text-color);
}

.hero__descr {
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: var(--text-color);
}

.hero__button {
  width: 195px;
  height: 53px;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  color: var(--text-color);
  background-color: var(--light--accent-color);
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out;
}


.hero__button:hover {
  background-color: var(--dark-accent-color);
  transition: background-color 0.3s ease-in-out;
}



.unity__icon {
  position: absolute;
  top: 40%;
  left: 44%;
}

.cry__icon {
  position: absolute;
  top: 0;
  left: 64%;
  transform: translateX(-50%)
}

.unreal__icon {
  position: absolute;
  top: 15px;
  right: 66px;
}


/*trends*/

.trends {
  padding-top: 89px;
  padding-bottom: 65px;
}

.trends__header {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
}

.trends__title {
  font-family: 'Rubik', sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 188%;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

.trends__button {
  width: 139px;
  height: 57px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.11);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.trends__button:hover {
  background-color: rgba(225, 225, 225, 0.5);
  transition: background-color 0.3s ease-in-out;
}



.trends__list {
  gap: 46px;
}

.trends__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trends__img {
  margin-bottom: 25px;
}


.trends__text {
  padding-left: 34px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--text-color);
  background-image: url(../img/home/trends/fire.svg);
  background-repeat: no-repeat;

}


/*bestseller*/

.bestseller {
  padding-top: 71px;
  padding-bottom: 152px;
}

.besttseller__descr {
  margin: 0 auto;
  margin-bottom: 69px;
  max-width: 750px;
  font-size: 35px;
  font-weight: 600;
  line-height: 188%;
  text-align: center;
  color: var(--text-color);
}

.bestseller__header {
  margin-left: 0;
  margin-bottom: 56px;
  max-width: 545px;
  text-align: left;
}

.bestseller__title {
  margin-bottom: 15px;
}


.bestseller__img {
  position: relative;
}

.bestseller__img::before {
  position: absolute;
  content: " ";
  background-image: url(../img/home/bestseller/dots.png);
  width: 196px;
  height: 154px;
  top: -67px;
  right: 125px;
  z-index: -1;
}

.bestseller__image {
  border-radius: 5px;
}

/*offers*/

.offers {
  padding-top: 93px;
  padding-bottom: 85px;
  background-image: url(../img/home/offers/offers-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  /* background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), rgba(0, 0, 0, 0.54); */
  backdrop-filter: blur(2px);
}

.offers:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.65);
  z-index: -10;
}

.offers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.offers__header {
  margin-bottom: 96px;
  max-width: 826px;
}

.offers__title {
  margin-bottom: 25px;
  font-weight: 700;
}

.offers__list {
  flex-wrap: wrap;
  column-gap: 107px;
  row-gap: 53px;
  justify-content: center;
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__img {
  font-size: 0;
  margin-bottom: 30px;
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
  align-content: center;
}

.offers__name {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
}

.offer__link {
  transition: transform 0.23s ease-in-out;
}

.offer__link:hover  {
  transform: translateX(5px);
  transition: transform 0.2s ease-in-out;
}

/*projects*/

.projects {
  padding-top: 142px;
  padding-bottom: 52px;
}

.projects__container {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__header {
  max-width: 497px;
  margin-bottom: 71px;
}

.projects__title {
  margin-bottom: 15px;
  font-weight: 700;
}

.projects__rows {
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.projects__list {
  display: flex;
  gap: 27px;
}



.projects__image {
  width: 100%;
  height: 100%;
}

.projects__button {
  width: 139px;
  height: 57px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 188%;
  color: var(--text-color);
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.11);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}


.projects__button:hover {
  background-color: rgba(225, 225, 225, 0.5);
  transition: background-color 0.3s ease-in-out;
}

/*subscription*/

.subscription {
  padding-top: 52px;
  padding-bottom: 163px;
}

.subscription__container {
  max-width: 1170px;
}

.subscription__header {
  margin-left: 0;
  margin-bottom: 70px;
  gap: 18px;
  max-width: 545px;
  text-align: left;
}

.subscription__form {
  background-color: #1C140F;
}

.form {
  padding: 40px 50px 42px 56px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.form__text {
  margin-right: auto;
  max-width: 524px;
}

.form__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: auto;
  color: var(--text-color);
}

.form__subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
}

.form__right {
  padding-left: 36px;
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
}

.form__input {
  font-family: inherit;
  width: 231px;
  border: none;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #898989;
}

.form__button {
  width: 105px;
  height: 37px;
  font-size: 13px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  background-color: var(--dark-accent-color);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}


.form__button:hover {
  background-color: var(--light--accent-color);
  transition: background-color 0.3s ease-in-out;
}


/*footer*/

.footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 29px;
  background-color: #070707;
}

.footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #fff;
  bottom: 83px;
}

.footer__container {
  margin: 0 auto;
  max-width: 1219px;
}

.footer__info {
  display: flex;
  margin-bottom: 84px;
}

.footer__text {
  margin-right: 109px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.footer__logo {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
}

.footer__descr {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
}

.footer__tag {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
}

.footer__nav {
  margin-right: 83px;
  gap: 129px;
}


.footer__nav-title {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: auto;
  color: var(--text-color);
}


.footer__nav-column {
  min-width: 90px;
}

.footer__nav-list {
  flex-direction: column;
}

.footer__nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 186%;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.footer__nav-link:hover {
  color: var(--light--accent-color);
  transition: color 0.3s ease-in-out;
}

.footer__socials {
  padding-top: 117px;
  /* align-self: flex-end; */
}
.socials {
  gap: 16px;
}

.socials__item {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 50%;
}

.footer__rights {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 191%;
  color: var(--text-color);
}



